.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poloriod-card {
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 40px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  margin: 0;
  -webkit-transform:rotate(30deg) scale(0.7,0.7);
  -moz-transform:rotate(30deg) scale(0.7,0.7);
  transform:rotate(30deg) scale(0.7,0.7);
  top:0%;
  left:0%;
}

.dog {
  margin: 0;
  -webkit-transform:rotate(-30deg) scale(0.7,0.7);
  -moz-transform:rotate(-30deg) scale(0.7,0.7);transform:rotate(-30deg) scale(0.7,0.7);
  bottom: 40%;
  left:0%;
}

.cat-image {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.dog-image {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.or-div {
  align-items: center;
  padding-top: auto;
  border: 1px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: white;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .quiz-container {
    flex-direction: row;
  }
  .poloriod-card {
    margin: auto;
  }
  .poloriod-card:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    cursor: pointer;
  }

  .polaroid:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .or-div {
    margin: 0;
  }
  .or-div:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }
}
