.App {
  text-align: center;
  background-color: #fdc5f5;
  min-height: 100vw;
  min-width: 100vw;
  margin: 0;
  font-size: 18px;
  font-family: 'Biryani', sans-serif;
}

.radio-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  /* display: inline-block; */
  padding: 5% 0 5% 0;
  margin: 55px 25% 30px 25%;
  justify-content: center;
  /* text-align: center; */
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.radio-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0%;
    text-align: left;
}
.container {
  /* text-align: left;
  border: 2px solid black;
  display: inline-block;
  margin: 0% auto 0% auto;
  display: block; */
position: relative;
/* padding-left: 35px; */
margin-bottom: 12px;
cursor: pointer;
font-size: 12px;
/* -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; */
}

button {
  display: block;
  margin: 10%;
  line-height: 24px;
   padding: 0 20px;
   border: 1px solid rgba(0,0,0,1);
   box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
   font-size: 12px;
   width: 100%;
}
