.App {
  text-align: center;
  min-height: 100vw;
  min-width: 100vw;
  margin: 0;
  font-size: 14px;
  font-family: 'Biryani', sans-serif;

}
.header-container {
  margin-top: 0;
  padding: 3%;
  background-color: #95a4ff;
  opacity: 0.75;
  margin-bottom: 3%;
}


.subheader {
  font-style: italic;
  font-size: 12px;
}
.radio-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 5% 0 5% 0;
  margin: 55px 10% 30px 10%;
  justify-content: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.radio-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0%;
    text-align: left;
}

.container {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
}

button {
  display: block;
  margin-left: 60%;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 24px;
  padding: 0 20px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
  font-size: 12px;
  width: 100%;
  align-items: right;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .radio-choice {

    width: 50%;
    margin: auto;

  }
}
