.results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

}

.winning-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.image {
  background: #ffffff;
  padding: 15px 15px 40px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  position: relative;
}

.result-button {
  width: 50%;
  margin: 3% auto 3% auto;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .result-button {
    width: 20%;
  }
  .winning-images {
    margin: auto;
    max-width: 80%;

  }
}
