.results-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.winning-images {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  /* overflow: scroll; */

}

.image {
  background: #ffffff;
  /* display: inline-block; */
  margin: 3%;
  padding: 15px 15px 40px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.cat-image {
  /* margin-top: 5%;
  width: 80%;
  height: 60% */
  display: block;
  width: 5%;
  border: 1px solid black;
}

.dog-image {
  /* margin-top: 5%;
  width: 80%;
  height: 60% */
  display: block;
  border: 1px solid black;
  width: 50%;
}

.result-button {
  width: 20%;
  margin: 3% auto 3% auto;
}
